<footer class="bottom-footer">
    <ul class="footer-links">
        <li><a href="https://linked.com/in/emmanuel-orozco" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/indie-rok" target="_blank">Github</a></li>
        <li><a href="https://www.instagram.com/emmanuel.viaja/" target="_blank">Instagram</a></li>
        <li><a href="https://twitter.com/indie_rok" target="_blank">Twitter</a></li>
        <li><a href="https://emmanuelorozco.substack.com/" target="_blank">Substack</a></li>
    </ul>
    <i>
        Emmanuel Orozco | Never stop dreaming ©️
    </i>
</footer>