<a href="{{ site.baseurl }}/blog">← Back to all writings</a>

<footer>
  <hr />

  <div class="footer-subsribe">
    <h1>Subscribe to my weekly newsletter</h1>
    <p>I write about what I learn on tech, music and education</p>

    <iframe src="https://emmanuelorozco.substack.com/embed" width="480" height="150"
      style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
  </div>

  <hr />

  <ul class="footer-links">
    <li><a href="https://linked.com/in/emmanuel-orozco" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/indie-rok" target="_blank">Github</a></li>
    <li><a href="https://www.instagram.com/emmanuel.viaja/" target="_blank">Instagram</a></li>
    <li><a href="https://twitter.com/indie_rok" target="_blank">Twitter</a></li>
    <li><a href="https://emmanuelorozco.substack.com/" target="_blank">Substack</a></li>
  </ul>

  <div class="bottom-footer">
    <i>
      Emmanuel Orozco | Never stop dreaming ©️
    </i>
  </div>
</footer>